*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}




.attribution {
    font-size: 11px;
     text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}



body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: hsl(218, 23%, 16%);
    height: 100vh;
}

.card-wrap {
    background:  hsl(218, 23%, 16%);
    color: #fff;
}