@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}




.attribution {
    font-size: 11px;
     text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}



body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: hsl(218, 23%, 16%);
    height: 100vh;
    font-family: "Manrope", sans-serif;
    font-size: 1.4rem;
}

img {
    max-width: 100%;
    height: auto;
}

.card {
    padding: 2rem;
    /* max-width: 700px; */
}

.card-wrap {
  background: hsl(217, 19%, 24%);
    color: hsl(193, 38%, 86%);
    padding: 1rem;
    text-align: center;
    border-radius: 1rem;
    position: relative;
}

span {
    color: hsl(150, 100%, 66%);
    font-size: 15px;
}

.advice-content {
    margin-top: 2rem;
}

.content-img img{
    margin-top: 2rem;
    margin-bottom: 4rem;
    cursor: pointer;
}


.icon {
    background: hsl(150, 100%, 66%);
    border-radius: 50%;
    width: 70px;
    height: 70px; 
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center; 
    position: absolute;
    left: 149px;
    bottom: -30px;
    transition:all ease-in 1s;
}

 

@media (min-width:650px) {
   .icon {
    left: 350px;
    bottom: -30px;
   }
}