@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.attribution {
    font-size: 11px;
     text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}



body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: hsl(218, 23%, 16%);
    height: 100vh;
    font-family: "Manrope", sans-serif;
    font-size: 1.4rem;
   
}

img {
    max-width: 100%;
    height: auto;
}

.card {
    padding: 2rem;
   
}

.card-wrap {
  background: hsl(217, 19%, 24%);
    color: hsl(193, 38%, 86%);
    padding: 1rem;
    text-align: center;
    border-radius: 1rem;
    position: relative;
  
}

#advice p {
    color: hsl(150, 100%, 66%);
    font-size: 15px;
}

.advice-content {
    margin-top: 2rem;
}

.content-img img{
    margin-top: 2rem;
    margin-bottom: 4rem;
    cursor: pointer;
}
  

.icon-btn {
    background: hsl(150, 100%, 66%);
    border-radius: 50%;
    border: none;
    width: 70px;
    height: 70px; 
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center; 
    position: absolute;
    left: 50%; 
    transform: translateX(-50%);
    bottom: -30px; 
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}


.icon-btn:hover {
    background-color: hsl(150, 100%, 66%);
    animation: glow 1s ease infinite alternate;
    cursor: pointer;
}
 

@keyframes glow {
    0% {
        box-shadow: 0 0 5px hsl(150, 100%, 66%);
    }
    100% {
        box-shadow: 0 0 70px hsl(150, 100%, 66%);
    }

}






